/*Default mobile size*/

.question-card {
    width: 70vw;
}

.question-card-header {
    display: flex;
    flex-direction: column;
    background-color: #1D223B;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 10px;
}

.question-number {
    color: #e43f5A;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1rem;
}

.question-text {
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.points {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
    color: #e43f5A;
    font-size: 1rem;
}

.option-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.option-item {
    margin-top: 20px;
    background-color: #1D223B;
    color: #ffffff;
}

.option-item:hover {
    color: #FFFFFF;
}

.selected-option-item {
    margin-top: 20px;
    background-color: #e43f5A;
    color: #121629;
}

.bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .end-quiz-btn {
    background-color: #121629;
    color: #FFFFFF;
    width: 100px;
    height: 50px;
  }

  .end-quiz-btn:hover {
    color: #FFFFFF;
  }
  
  .answer-quiz-btn {
    background-color: #1D223B;
    color: #FFFFFF;
    width: 100px;
    height: 50px;
  }

  .answer-quiz-btn:hover {
    color: #FFFFFF;
  }


  /*Tablet size*/
@media (min-width: 650px) {

    .question-card {
        width: 500px;
    }

    .question-number {
        font-size: 1.2rem;
    }

    .question-text {
        font-size: 1.4rem;
    }

    .points {
        font-size: 1.2rem;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .end-quiz-btn {
        padding: 8px;
        font-weight: 500;
        width: 120px;
        height: 50px;
    }

    .answer-quiz-btn {
        padding: 8px;
        font-weight: 500;
        width: 120px;
        height: 50px;
      }
}


/*Desktop size*/
@media (min-width: 1024px) {

    .question-card {
        width: 700px;
    }

    .question-number {
        font-size: 1.4rem;
    }

    .question-text {
        font-size: 1.8rem;
    }

    .points {
        font-size: 1.4rem;
    }

    .option-list {
        width: 700px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .option-item {
        width: 330px;
        margin: 10px;
    }

    .selected-option-item {
        width: 330px;
        margin: 10px;
    }

    .end-quiz-btn {
        width: 140px;
    }

    .answer-quiz-btn {
        width: 140px;
      }
}