.question-card {
    width: 80vw;
}

.question-card-header {
    display: flex;
    flex-direction: column;
    background-color: #1D223B;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 10px;
}

.question-number {
    color: #e43f5A;
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 0.7rem;
}

.question-text {
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.points {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
    color: #e43f5A;
}

.option-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.option-item {
    margin-top: 10px;
    padding: 8px;
    background-color: #1D223B;
    color: #ffffff;
}

.selected-option-item {
    margin-top: 10px;
    padding: 8px;
    background-color: #e43f5A;
    color: #121629;
}

.bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .end-quiz-btn {
    background-color: #121629;
    color: #E43F5A;
    font-weight: bolder;
  }
  
  .answer-quiz-btn {
    background-color: #E43F5A;
    color: #121629;
    font-weight: bolder;
  }