/*Default mobile size*/

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121629;
}

h1 {
  font-size: 2.5em;
  color: #E43F5A;
  margin-bottom: 40px;
  margin-top: 0;
}

h2 {
  font-size: 1.3rem;
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 50px;
}

h3 {
  margin-top: 30px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #E43F5A;
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  background-color: #121629;
  color: #E43F5A;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #E43F5A;
  color: #121629;
}


/*Tablet size*/
@media (min-width: 650px) {

  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  button {
    font-size: 1.1rem;
    padding: 12px;
    border-radius: 12px;
  }
}


/*Desktop size*/
@media (min-width: 1024px) {

  h1 {
    font-size: 4.5rem;
    margin-bottom: 100px;
  }

  h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 1.65rem;
    margin-top: 40px;
  }

  button {
    font-size: 1.2rem;
    padding: 16px;
    border-radius: 14px;
  }
}